@use './styles/colors';
@use './styles/mixins';

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}
